body{
    background-color: azure;
}

.header{
    background-color: aqua;
    color:black;       
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    display:inline;

}
.information{
    background-color: azure;
    color:black;
    font-size:20px;
    text-align:center;
    text-transform: capitalize;
    line-height: 18px;
    display:inline;

}
.footer{
    background-color: aquamarine;
    color:black;
    font-size:18px;
    text-transform:capitalize;
    line-height: 15px;
    display:inline;
}
