body{
    background-color: bisque;
}
.leftnav{
    background-color: antiquewhite;
    width:1400px;
    height:200px;
    color:black;
    font-size:18px;
    display:inline;
    text-transform: capitalize;
    line-height: 15px;
    padding:15px;
    
    font-weight: 600;
    float:left;
}

.nav{
    color:black;
    width:1400px;
    font-size:18px;
    padding:15px;
    display:inline;
    text-transform: capitalize;
    line-height: 15px;
    font-weight: 600;
    float:left;
}

.nav li{
    background-color: azure;
    list-style-type: none;
    text-decoration: none;
    display:inline-block;
    padding:15px;
    cursor:pointer;
}
.nav li:hover{
    background: green;
    color:brown;
}
.introduction{
    background-color: blanchedalmond;
    color:black;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    display:inline;
    width:1400px;
    height:auto;
    padding:20px;
    border:100px;
}
.city li{
    display:block;
    background-color: bisque;
    color:green;
    padding:20px;
    font-size:20px;
}
.city{
    background-color: azure;
    padding:20px;
    font-size:20px;
    font-weight: 700;
    line-height: 17px;
    display:block;

}

p{
    background-color: blanchedalmond;
    color:black;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
    display:inline;
    width:1400px;
    height:auto;
    padding:20px;
    border:100px;
}

.footer{
    background-color: beige;
    color:black;
    font-size:18px;
    line-height: 17px;
    text-transform: capitalize;
    display:inline;
    padding:20px;
    font-weight: 700;
    border:100px;
    float:left;
    width:1400px;
    height:200px;
}
.leftfooter{
    background-color: lightcyan;
    color:black;
    width:1400px;
    height: 200px;
    font-size: 20px;
    padding:18px;
    font-weight: 700;
    display:inline;
    text-transform: capitalize;
    line-height: 17px;
    float:left;
}

.leftfooter li{
    color:black;
    background-color: azure;
    font-size:18px;
    
    padding:18px;
    display:inline-block;
    list-style-type: none;
    cursor:pointer;
    text-decoration: none;
}
.leftfooter li:hover{
    background-color: green;
    color:brown;
}
